﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMANG Microsite</title>
    <link id="Link" href="/Content/images/pci.png" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- JS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <base href="@UmangMicro.Manager.CommonModel.GetBaseUrl()" />
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });

            $('.scrollup').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });

        });
    </script>
    
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/js/widgets.js"></script>
    <script src="~/Content/js/ddmm.js"></script>
    <!-- Smooth Scroll -->
    <script type="text/javascript" src="~/Content/js/smoothscroll.js"></script>
    <!-- Product-Scroll -->
    <link href="~/Content/css/initcarousel-1.css" rel="stylesheet" />
    <script src="~/Content/js/amazingcarousel.js"></script>
    <script src="~/Content/js/initcarousel-1.js"></script>
    <!-- Content Animate Code -->
    <script src="~/Content/js/aos.js"></script>


    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    @if (TempData["ToastMsg"] != null)
    {
        <script>

            var success = @((TempData["ToastMsg"] != null).ToString().ToLower());
            if (success == true) {
                var jsonToast = JSON.parse(decodeHtml('@TempData["ToastMsg"]'));
                CreateToasterMessage(jsonToast.MsgTitle, jsonToast.MsgBody, jsonToast.MsgType);
            }
            $(function () {
                $("#tooltip").text($(this).attr('alt'));
            });

        </script>
    }
</body>
</html>