﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBH</title>
    <link id="Link" href="/Content/images/pci.png" rel="icon" type="image/x-icon" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/modernizr")
    <base href="@UmangMicro.Manager.CommonModel.GetBaseUrl()" />
    <link href="~/Content/assets/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type='text/css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!-- Data Table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    @*<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">*@
    @*<link rel='stylesheet' href='https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css'>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/assets/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/TreeTable.css" rel="stylesheet" />
    <!-- Menu -->
    <link href="~/Content/css/menu-responsive.css" rel="stylesheet" />
    <script src="~/Content/js/submenu-2.js"></script>
    <script src="~/Content/js/submenu.js" type="text/javascript"></script>
    <script src="~/Content/assets/TreeTable.js"></script>

    <style>
        .containers {
            max-width: 1220px !important;
            margin: auto
        }

        .dataTables_filter {
            margin-bottom: 15px !important;
        }

        .break {
            display: block;
            clear: both;
            height: 20px;
        }

        .card {
            padding-bottom: 10px;
        }

        .admin-breadcrumb {
            margin: auto;
            max-width: 1220px;
            padding: 0px 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .admin-breadcrumb h3 {
                margin: 0px;
                font-size: 28px;
                color: #6A4566;
                font-weight: bold;
            }

        input[type="radio"] {
            margin: 0 2px 0 10px;
        }

        table > thead > tr > th {
            /*background-color: #227681 !important;*/
            background-color: #2BBFCE !important;
            color: #fff !important;
            text-align: center !important;
        }

        .form-row {
            padding: 2% 0% 0% 0% !important;
        }

        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

        .admin-header {
            padding: 10px 20px;
            background: #2BBFCE;
            margin-bottom: 20px;
        }

        .header-block {
            margin: auto;
            padding: 0 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo-icon {
            width: 60px;
            padding: 5px;
            background: #fff;
            border-radius: 5px;
        }

        #primary_nav_wrap {
            /*margin-top: 20px;*/
        }

            #primary_nav_wrap ul {
                list-style: none;
                position: relative;
                float: left;
                margin: 0;
                padding: 0;
            }

                #primary_nav_wrap ul:hover {
                    color: #222;
                }

            #primary_nav_wrap a {
                display: block;
                color: #222;
                text-decoration: none;
                font-size: 15px;
                line-height: 20px;
                padding: 0 15px;
            }

                #primary_nav_wrap a:hover {
                    color: #000;
                }

            #primary_nav_wrap ul li {
                position: relative;
                float: left;
                margin: 0;
                padding: 0;
            }

            #primary_nav_wrap ul ul {
                display: none;
                position: absolute;
                top: 100%;
                right: 15px;
                background: #fff;
                padding: 15px 20px;
                border-radius: 10px;
                z-index: 99999;
                border-top: 2px solid #F30;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

                #primary_nav_wrap ul ul li {
                    float: none;
                    width: 150px;
                }

                #primary_nav_wrap ul ul a {
                    line-height: 120%;
                    color: #222;
                    margin-bottom: 8px;
                    padding: 8px 20px
                }

                    #primary_nav_wrap ul ul a:hover {
                        background: #F3F3F3;
                        border-radius: 10px;
                    }

        .user-icon {
            width: 40px;
            border-radius: 20px;
        }

        #primary_nav_wrap ul li:hover > ul {
            display: block
        }

        #primary_nav_wrap .fa-angle-down {
            color: #fff;
            margin-left: 10px;
            font-size: 20px;
        }

        #primary_nav_wrap h3 {
            text-align: center;
            font-size: 22px;
            color: #6A4566;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .header-mob-show {
            display: none
        }

        @@media all and (max-width: 1000px) {
            .header-block {
                display: block;
                width: 100%;
            }

            .web-show {
                display: none;
            }

            .header-mob-show {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .admin-breadcrumb {
                padding: 0px 20px 15px;
            }
        }
    </style>
    <style>
        @@media screen and (max-width: 768px) {
            .app-main__inner {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
    </style>
</head>

<body>
    <div id="loader" style="position: fixed; left: 50%; top: 50%; display: none; z-index:900;">
        <img src="https://www.drupal.org/files/issues/ajax-loader.gif" />
    </div>

    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        @Html.Partial("_AdminHeader")

        <div class="app-mains">
            @*<div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                    @Html.Partial("_AdminNavbar")
                </div>*@

            <div class="app-main__outers">
                <div class="app-main__inner">
                    @RenderBody()
                </div>
                @Html.Partial("_AdminFooter")
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)


    @if (TempData["ToastMsg"] != null)
    {
        <script>
            var success = @((TempData["ToastMsg"] != null).ToString().ToLower());
            if (success == true) {
                var jsonToast = JSON.parse(decodeHtml('@TempData["ToastMsg"]'));
                CreateToasterMessage(jsonToast.MsgTitle, jsonToast.MsgBody, jsonToast.MsgType);
            }
            $(function () {
                $("#tooltip").text($(this).attr('alt'));
            });
        </script>
    }
    <script type="text/javascript">
        $(document).ajaxStop(function () {
            //console.debug("ajaxStop");
            $("#loader").hide();
        });
        $(document).ajaxStart(function () {
            // console.debug("ajaxStart");
            $("#loader").show();
        });
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <!--------------------------------------Main Layout Others JS---------------------------------------->
    <!-- Latest compiled and minified JavaScript -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>*@

    <script type="text/javascript" src="~/Content/assets/JS/main.d810cf0ae7f39f28f336.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!--------------------------------------Date Time---------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <!--------------------------------------Data Table---------------------------------------->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>*@
    <script src="~/Scripts/JS/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>

    @*<script src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>
        <script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>*@

    @*<script src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>*@
    @*<script src='https://datatables.net/release-datatables/extensions/FixedHeader/js/dataTables.fixedHeader.js'></script>*@

</body>
</html>