@model UmangMicro.Models.UserEditViewModel
@using UmangMicro.Manager
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="admin-breadcrumb">
    <h3>Teacher/Counsellor Registration</h3>
    <div class="crumb">
        <a href="~/Master/UserDetaillist">User Detail List</a> / Edit Registration
    </div>
</div>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-12">
                    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                        @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div style="text-align: center; font-weight: 700;">
                                        <h4><strong>Teacher/Counsellor Registration</strong></h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span>
                                        @Html.LabelFor(m => m.Role, new { @class = "" })
                                        @Html.DropDownListFor(m => m.Role, CommonModel.GetRolesByLoggedinUser(), null, new { @class = "form-control", @required = "required" })
                                        @*, @readonly = "true"*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.Name, new { @class = "" })
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name", @required = "required" })
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <span class="text-danger">*</span>
                                            @Html.LabelFor(m => m.Email, new { @class = "" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
                                        </div>
                                    </div>*@
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span>
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })
                                        @Html.TextBoxFor(m => m.PhoneNumber, new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Phone Number",
                                            @maxlength = "10",
                                            @required = "required",
                                            onkeypress = "return IsNumeric(event);",
                                            ondrop = "return false;",
                                            onpaste = "return false;"
                                          })
                                        <span id="error" style="color: Red; display: none">* Input digits (0 - 9)</span>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                      @readonly = "readonly",
                                        <div class="position-relative form-group">
                                            <span class="text-danger">*</span>
                                            @Html.LabelFor(m => m.DistrictId, new { @class = "" })
                                            @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <span class="text-danger">*</span>
                                            @Html.LabelFor(m => m.BlockId, new { @class = "" })
                                            @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>*@
                                <div class="col-md-6" id="div-dis">
                                    <div class="position-relative form-group">
                                        <span class="text-danger" id="rqdis" style="display:none;">*</span> @Html.LabelFor(m => m.DistrictId, new { @class = "" })
                                        @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), "Select", new { @class = "form-control select2" })
                                    </div>
                                </div>
                                <div class="col-md-6" id="div-sch">
                                    <div class="position-relative form-group">
                                        <span class="text-danger" id="rqsch" style="display:none;">*</span>
                                        @Html.LabelFor(m => m.SchoolId, new { @class = "" })
                                        @*@Html.DropDownListFor(m => m.SchoolId, CommonModel.GetSchoolList(), null, new { @class = "form-control select2" })*@
                                        @Html.DropDownListFor(m => m.SchoolId, new List<SelectListItem>(), null, new { @class = "form-control select2" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <div class="wrap-form-control validate-input">
                                            @Html.DropDownListFor(m => m.LocationID, CommonModel.GetLocationsByLoggedinUser(), null, new { @class = "form-control", @required = "required" })
                                            <span class="focus-form-control"></span>
                                        </div>
                                    </div>*@

                                @*<div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <span class="text-danger">*</span>
                                            @Html.LabelFor(m => m.Password, new { @class = "" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <span class="text-danger">*</span>
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
                                        </div>
                                    </div>*@
                                <div class="break"></div>
                                <div class="col-md-6 offset-lg-1">
                                    <div class="mt-4 d-flex align-items-center">
                                        <div class="ml-auto">
                                            <input type="submit" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-small" value="Register" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="text-center pt-3">
                                    <p class="text-dark mb-0">Already registered?<a href="~/Account/Login" class="text-primary ml-1">Log In now</a></p>
                                </div>*@
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Content/assets/js/jquery-3.4.1.min.js"></script>
        <script src="~/Content/assets/js/custom.js"></script>*@
    <!-- Multiple Dropdown list -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js"></script>*@
    @*<script src="~/Content/assets/js/bootstrap-multiselect.min.js"></script>*@
    <script src="~/Scripts/JS/Master.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
            BindDistrict('DistrictId', 20);
            //$('#DistrictId').change(function () {
            //    OnChangeDistrict('BlockId', $('#DistrictId').val());
            //});
            //$('#BlockId').change(function () {
            //    OnChangeBlock('ClusterId', $('#BlockId').val());
            //});
        if ('@Model.Id' != '0' && '@Model.Id' != '') {
            debugger;
               // $('#DistrictId').val('@Model.DistrictId');
              //  OnChangeDistrict('BlockId', '@Model.DistrictId');
               // $('#BlockId').val('@Model.BlockId');
              //  OnChangeBlock('ClusterId', '@Model.BlockId');
              ///  $('#ClusterId').val('');
            if ($("#Role").val() == "Teacher") {
                   $('#rqdis').show(''); $('#rqsch').show('');
                   $('#div-dis').show(''); $('#div-sch').show('');

                    $('#DistrictId').val('@Model.DistrictId');
                    $('#DistrictId').trigger('change');
                    GetSchool("SchoolId", "", '@Model.DistrictId', "");
                    $('#SchoolId').val('@Model.SchoolId');
                    $('#SchoolId').trigger('change');

                    $('#SchoolId').attr('required', 'required');
                    $('#DistrictId').attr('required', 'required');
                    
                  
                }
                else if ($("#Role").val() == "Consultant") {

                    $('#DistrictId').val('@Model.DistrictId');
                    $('#DistrictId').trigger('change');
                    GetSchool("SchoolId", "", "0", "");
                   // $('#SchoolId').val('@Model.SchoolId');
                   // $('#SchoolId').trigger('change');

                    $('#SchoolId').removeAttr('required');
                    $('#DistrictId').attr('required', 'required');
                    $('#rqdis').show(''); $('#rqsch').hide('');
                    $('#SchoolId').val('');
                    $('#div-dis').show(''); $('#div-sch').hide('');
                }
                else {
                    $('#DistrictId').val(''); $('#SchoolId').val('');
                    $('#SchoolId').removeAttr('required');
                    $('#DistrictId').removeAttr('required');
                    $('#rqdis').hide(''); $('#rqsch').hide('');
                    $('#SchoolId').val(''); $('#DistrictId').val('');
                    BindDistrict('DistrictId', 20); GetSchool("SchoolId", "", "0", "");
                    $('#div-dis').hide(''); $('#div-sch').hide('');
                }

            }
       
        $('#DistrictId').change(function () {
            //OnChangeDistrict('BlockId', $('#DistrictId').val());
            GetSchool("SchoolId", "", $(this).val(), "");
        });

        $('#Role').change(function () {
            if ($(this).val() == "Teacher") {
                $('#SchoolId').attr('required', 'required');
                $('#DistrictId').attr('required', 'required');
                $('#rqdis').show(''); $('#rqsch').show('');
                $('#div-dis').show(''); $('#div-sch').show('');
            }
            else if ($(this).val() == "Consultant") {
                $('#SchoolId').removeAttr('required');
                $('#DistrictId').attr('required', 'required');
                $('#rqdis').show(''); $('#rqsch').hide('');
                $('#SchoolId').val('');
                GetSchool("SchoolId", "", "0", "");
                $('#div-dis').show(''); $('#div-sch').hide('');
            }
            else {
                $('#SchoolId').removeAttr('required');
                $('#DistrictId').removeAttr('required');
                $('#rqdis').hide(''); $('#rqsch').hide('');
                $('#SchoolId').val(''); $('#DistrictId').val('');
                BindDistrict('DistrictId', 20); GetSchool("SchoolId", "", "0", "");
                $('#div-dis').hide(''); $('#div-sch').hide('');
            }
        });

    });
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
</script>

}