@using UmangMicro.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet">
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
<link href="~/Content/css/style.css" rel="stylesheet" />
<style>
    body {
        /*background: #6A4566;*/
        background: #00AEC4;
        font-family: 'Source Sans Pro', sans-serif;
    }

    #wrappers {
        width: 100%;
        background: #fff;
    }

    #headers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 20px;
    }

    .logo1 {
        width: 90px;
    }

    .logo2 {
        width: 60px;
    }

    .umang-credential {
        display: flex;
        gap: 10px;
        background: #ffd800;
        align-items: center;
        margin: auto;
        max-width: 900px;
        margin-top: 60px;
        padding: 20px;
        background: #fff;
        border-radius: 20px
    }

    .login-graphic {
        flex: 3;
        height: calc(115vh - 300px);
    }

    .login-form {
        flex: 2;
        text-align: center;
        padding: 20px;
    }

        .login-form h2 {
            font-size: 29px;
            color: #FF6D50;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
            margin-top: 0px;
        }

            .login-form h2 span {
                color: #5B2C54;
            }

        .login-form p {
            font-size: 15px;
            color: #808080;
            padding: 0 20px;
            margin-bottom: 20px;
        }

    .form-box {
        width: 90%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .login-form .form-box span {
        display: block;
        text-align: left !important;
        font-size: 13px;
        color: #FF6D50;
        margin-top: 5px;
    }

    .checkbox {
        text-align: left !important;
        margin-left: 0%;
    }

        .radio label, .checkbox label {
            margin-left: 2px !important;
        }

        .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            margin-left: 0px !important;
        }

    .btn-submit {
        width: 90%;
        margin: auto;
        padding: 8px 0;
        text-align: center;
        font-size: 16px;
        background: #FF6D50;
        color: #fff;
        border: none;
        border-radius: 10px;
        margin-bottom: 15px;
    }

        .btn-submit:hover {
            background: #5B2C54;
        }

    .excellence {
        width: 100px !important;
    }

    .logo {
        width: 60px !important;
    }

    .text-danger {
        color: red;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(3.25rem + 3px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
</style>

<div id="wrappers">
    <div id="headers">
        <div class="logo1"><a href="/"><img src="/Content/images/umang-logo.png" alt="Umang Logo" /></a></div>
        <div class="logo2"><a href="/"><img src="/Content/images/pci.png" alt="PCI" /></a></div>

    </div>
</div>
<div class="umang-credential">
    <div class="login-graphic">
        <img src="~/Content/images/login-bg.jpg" alt="Umang Photo" />
    </div>
    <div class="login-form" id="loginForm">
        <h2>Login to <span>Umang</span></h2>
        @*<h2><a href="~/Content/assets/images/com.pic.umang.apk">apk1</a></h2>

        <h2><a href="~/Content/assets/images/com.pic.umang.apk" download>apk1</a></h2>*@
        <p>Welcome to Umang, please enter login details below to using the app</p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-box">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })<em class="text-danger">*</em>*@
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-box">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })<em class="text-danger">*</em>*@
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-box">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>*@
            <input type="submit" value="Log in" class="btn-submit" />
            @*@Html.ActionLink("Register as a new user", "Register")*@
            <a href="~/Candidate/SelfReg">Register as a new user</a>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}