@model UmangMicro.Models.RegisterViewModel
@using UmangMicro.Manager
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@*<style>
        .wrap-login100 {
            margin-top: 40px !important;
            max-width: 700px
        }

        .p-6 {
            padding: 1rem 2rem !important;
        }

        .wrap-login100 {
            width: 70% !important;
            margin-left: 15%;
        }

            .wrap-login100 .form-group {
                width: 48%;
                margin: 0 1%;
                float: left
            }

        @@media screen and (max-width:1024px) {
            .wrap-login100 {
                margin-left: 20%
            }
        }

        @@media screen and (max-width: 768px) {
            .wrap-login100 {
                margin-left: 0%;
                width: 80% !important;
            }

                .wrap-login100 .form-group {
                    width: 100%;
                    margin: 0 0%;
                    float: left
                }
        }
    </style>*@

<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-12">
                    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "formid", @class = "", role = "form", autocomplete = "off", enctype = "multipart/form-data" }))
                        {
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div style="text-align: center; font-weight: 700;">
                                        <h4><strong>Account (Register)</strong></h4>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.Name, new { @class = "" })
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.Email, new { @class = "" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span>  @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @maxlength = "10", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.DistrictId, new { @class = "" })
                                        @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.BlockId, new { @class = "" })
                                        @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.ClusterId, new { @class = "" })
                                        @Html.DropDownListFor(m => m.ClusterId, new List<SelectListItem>(), null, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span>@Html.LabelFor(m => m.Role, new { @class = "" })
                                        @Html.DropDownListFor(m => m.Role, CommonModel.GetRolesByLoggedinUser(), null, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span> @Html.LabelFor(m => m.Password, new { @class = "" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <span class="text-danger">*</span>  @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
                                    </div>
                                </div>
                                <div class="break"></div>
                                <div class="mt-4 d-flex align-items-center">
                                    @*<h5 class="mb-0">Already have an account? <a href="javascript:void(0);" class="text-primary">Sign in</a></h5>*@
                                    <div class="ml-auto">
                                        <input type="submit" class="btn btn-primary" value="Register" />
                                    </div>
                                </div>
                                @*<div class="text-center pt-3">
                                        <p class="text-dark mb-0">Already registered?<a href="~/Account/Login" class="text-primary ml-1">Log In now</a></p>
                                    </div>*@


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/JS/Master.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            BindDistrict('DistrictId', 20);
            $('#DistrictId').change(function () {
                OnChangeDistrict('BlockId', $('#DistrictId').val());
            });
            $('#BlockId').change(function () {
                OnChangeBlock('ClusterId', $('#BlockId').val());
            });
        });
    </script>

}


