@using System.Data
@using UmangMicro.Manager
@{
    ViewBag.Title = "RIASEC Test Result List";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}
@*<strong>RIASEC Test</strong>*@
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dt-responsive display" id="DataList" width="100%">
                    <thead>
                        <tr>
                            <th>SrNo.</th>
                            <th>District</th>
                            <th>Block</th>
                            <th>School</th>
                            <th>Reported By</th>
                            <th>Reported Date</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1; int indx = 0;
                            if (Model != null)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                                    <tr>
                                        <td class="text-center">@(sno++)</td>
                                        <td class="text-left" style="text-wrap: wrap;">@dr["district_name"]</td>
                                        <td class="text-left" style="text-wrap: wrap;">@dr["block_name"]</td>
                                        <td class="text-left" style="text-wrap: wrap;">@dr["school_name"]</td>
                                        <td class="text-left" style="text-wrap: wrap;"><strong>@dr["ReportedBy"]</strong></td>
                                        <td class="text-center" ><strong>@(CommonModel.FormateDtDMY(dr["ReportedDate"].ToString()))</strong></td>
                                        <td class="text-center" ><strong>@dr["PhoneNumber"]</strong></td>
                                    </tr>
                                    indx++;
                                }
                            }
                            else
                            {
                                <tr><td colspan="9" class="text-danger"><strong> Record Not Found !!</strong></td></tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
