@using System.Data
@model DataTable

@{
    ViewBag.Title = "_Plan / Achievement Data";
}

<strong>Plan/Achievement Lists</strong>
<div class="row row-deck" >
    <div class="col-lg-12 col-md-12" >
        <div class="card">
            <div class="table-responsive" style="height:300px; overflow:scroll;">
                <table class="table table-bordered table-hover dt-responsive display small" id="tbl" width="100%" style="vertical-align:middle;">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>District Name</th>
                            <th>School Name</th>
                            <th>Calss</th>
                            <th>No of Plan</th>
                            <th>No of Achieved</th>
                            <th>Plan Date</th>
                            <th>Achieved Date</th>
                            <th>Achievement %</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1;
                            if (Model != null && Model.Rows.Count > 0)
                            {
                                foreach (DataRow dr in Model.Rows)
                                {
                                    <tr style="background-color:@dr["AchievColor"]">
                                        <td class="text-center">@(sno++)</td>
                                        <td class="text-left">@dr["district_name"]</td>
                                        <td class="text-left">@dr["school_name"]</td>
                                        <td class="text-center">@dr["PlanCalssId"]</td>
                                        <td class="text-center">@dr["Noofplan"]</td>
                                        <td class="text-center">@dr["Noofachived"]</td>
                                        <td class="text-center">@dr["PlanDate"]</td>
                                        <td class="text-center">@dr["AchivedDate"]</td>
                                        <td class="text-center">@dr["AchievementPercentage"]</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" class="text-danger text-center"><strong>Record Not Found !!</strong></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
