@using System.Data
@{
    DataSet ds = new DataSet();
    DataTable dt = new DataTable();
    DataTable dtm = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
    DataView view = new DataView(dt.Select("district<>'All' And block<>'_ALL'").CopyToDataTable());
    DataTable dtsn = view.ToTable(true, "district");
    DataTable dtts = view.ToTable(true, "block");
}

<style>
    .multilevel-accordion-menu .is-accordion-submenu-parent a {
        background: #4d5158;
    }

    .multilevel-accordion-menu .is-accordion-submenu a {
        background: #35383d;
    }

    .multilevel-accordion-menu .sublevel-1 {
        text-indent: 1rem;
    }

    .multilevel-accordion-menu .sublevel-2 {
        text-indent: 2rem;
    }

    .multilevel-accordion-menu .sublevel-3 {
        text-indent: 3rem;
    }

    .multilevel-accordion-menu .sublevel-4 {
        text-indent: 4rem;
    }

    .multilevel-accordion-menu .sublevel-5 {
        text-indent: 5rem;
    }

    .multilevel-accordion-menu .sublevel-6 {
        text-indent: 6rem;
    }

    .multilevel-accordion-menu a {
        color: #fefefe;
        box-shadow: inset 0 -1px #41444a;
    }

        .multilevel-accordion-menu a::after {
            border-color: #fefefe transparent transparent;
        }

    .multilevel-accordion-menu .menu > li:not(.menu-text) > a {
        padding: 1.2rem 1rem;
    }

    .multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
        content: "\f016";
        font-family: FontAwesome;
        margin-right: 1rem;
    }

    .multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a::before {
        content: "\f07c";
        font-family: FontAwesome;
        margin-right: 1rem;
    }

    .multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a::before {
        content: "\f07b";
        font-family: FontAwesome;
        margin-right: 1rem;
    }
</style>
<link href="~/Content/assets/mgaccordion.css" rel="stylesheet" />

@*<strong>Schemes</strong>*@
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">

                <table class="table table-bordered table-hover dt-responsive display" id="DataListRC" width="100%" style="vertical-align:middle !important;">
                    <thead>
                        <tr>
                            @*<th>SrNo.</th>*@
                            @*<th></th>*@
                            <th rowspan="2">District</th>
                            <th rowspan="2">Block</th>
                            <th rowspan="2">No.of <br />Registration</th>
                            <th rowspan="2">No.of <br />RIASEC Test</th>
                            <th rowspan="2">No.of <br />Case History</th>
                            <th colspan="3">No.of <br />Counsellor</th>
                            <th colspan="3">No.of <br />Cohort (Case History)</th>
                            <th colspan="4">No.of <br />Type Query</th>
                            <th colspan="3">No.of <br />Modular Session</th>
                        </tr>
                        <tr>
                            <th>Consultant</th>
                            <th>PCI Representative</th>
                            <th>Teacher</th>
                            <th>6 To 8</th>
                            <th>9 To 10</th>
                            <th>11 To 12</th>
                            <th>Career</th>
                            <th>Education</th>
                            <th>Scholarships</th>
                            <th>Schemes</th>
                            <th>6 To 8</th>
                            <th>9 To 10</th>
                            <th>11 To 12</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1; int indx = 0;
                            if (Model != null)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                                    string district = Convert.ToString(dr["district"]);
                                    string block = Convert.ToString(dr["block"]);

                                    if (block.ToLower() == "_all" && district.ToLower() != "all")
                                    {
                                        <tr style="color: #1b6907; font-size: 14px; font-weight: bold; text-align: center;">
                                            <td title="district" class="@("district-" + district.Replace(" ", "_").ToLower()) text-left">@district</td>
                                            <td title="block" class="text-left"></td>
                                            <td titel="">@dr["NoofReg"]</td>
                                            <td titel="">@dr["NoofRIASECTest"]</td>
                                            <td titel="">@dr["NoofCaseHistory"]</td>
                                            <td titel="">@dr["NoofTypeCounsellorConslt"]</td>
                                            <td titel="">@dr["NoofTypeCounsellorTeacher"]</td>
                                            <td titel="">@dr["NoofTypeCounsellorPCI"]</td>
                                            <td titel="">@dr["Noof68"]</td>
                                            <td titel="">@dr["Noof910"]</td>
                                            <td titel="">@dr["Noof1112"]</td>
                                            <td titel="">@dr["NoofTypeQuery1"]</td>
                                            <td titel="">@dr["NoofTypeQuery2"]</td>
                                            <td titel="">@dr["NoofTypeQuery3"]</td>
                                            <td titel="">@dr["NoofTypeQuery4"]</td>
                                            <td titel="">@dr["NoofTC1"]</td>
                                            <td titel="">@dr["NoofTC2"]</td>
                                            <td titel="">@dr["NoofTC3"]</td>
                                        </tr>
                                    }
                                    else if (block.ToLower() != "_all")
                                    {
                                        //var dt2 = dt.AsEnumerable()?.Where(x => x.Field<string>("district") == dr["district"].ToString() && x.Field<string>("block") == dr["block"].ToString()).CopyToDataTable();

                                        <tr class="@("district-" + district.Replace(" ", "_").ToLower())" style="color: #0000FF; font-size: 12px; font-weight: bold; text-align: center;">
                                            <td titel="district" class="text-left"></td>
                                            <td titel="block" class="@("block-" + block.Replace(" ", "_").ToLower()) text-left">@block</td>
                                            <td titel="">@dr["NoofReg"]</td>
                                            <td titel="">@dr["NoofRIASECTest"]</td>
                                            <td titel="">@dr["NoofCaseHistory"]</td>
                                            <td titel="">@dr["NoofTypeCounsellorConslt"]</td>
                                            <td titel="">@dr["NoofTypeCounsellorTeacher"]</td>
                                            <td titel="">@dr["NoofTypeCounsellorPCI"]</td>
                                            <td titel="">@dr["Noof68"]</td>
                                            <td titel="">@dr["Noof910"]</td>
                                            <td titel="">@dr["Noof1112"]</td>
                                            <td titel="">@dr["NoofTypeQuery1"]</td>
                                            <td titel="">@dr["NoofTypeQuery2"]</td>
                                            <td titel="">@dr["NoofTypeQuery3"]</td>
                                            <td titel="">@dr["NoofTypeQuery4"]</td>
                                            <td titel="">@dr["NoofTC1"]</td>
                                            <td titel="">@dr["NoofTC2"]</td>
                                            <td titel="">@dr["NoofTC3"]</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="font-size:14px; font-weight:bold;text-align:center;">
                                            <td colspan="2"><strong>Grand Total :</strong></td>
                                            <td><strong>@dr["NoofReg"]</strong></td>
                                            <td><strong>@dr["NoofRIASECTest"]</strong></td>
                                            <td><strong>@dr["NoofCaseHistory"]</strong></td>
                                            <td><strong>@dr["NoofTypeCounsellorConslt"]</strong></td>
                                            <td><strong>@dr["NoofTypeCounsellorTeacher"]</strong></td>
                                            <td><strong>@dr["NoofTypeCounsellorPCI"]</strong></td>
                                            <td><strong>@dr["Noof68"]</strong></td>
                                            <td><strong>@dr["Noof910"]</strong></td>
                                            <td><strong>@dr["Noof1112"]</strong></td>
                                            <td><strong>@dr["NoofTypeQuery1"]</strong></td>
                                            <td><strong>@dr["NoofTypeQuery2"]</strong></td>
                                            <td><strong>@dr["NoofTypeQuery3"]</strong></td>
                                            <td><strong>@dr["NoofTypeQuery4"]</strong></td>
                                            <td><strong>@dr["NoofTC1"]</strong></td>
                                            <td><strong>@dr["NoofTC2"]</strong></td>
                                            <td><strong>@dr["NoofTC3"]</strong></td>
                                        </tr>
                                    }

                                }
                            }
                        }

                    </tbody>

                </table>
                @{
                    foreach (DataRow dr in dtsn.Rows)
                    {
                        string group = "district-" + Convert.ToString(dr["district"]).ToLower();
                        <script>
                                CreateGroup('@group');
                        </script>
                    }
                    @*foreach (DataRow dr in dtts.Rows)
                        {
                            string group = "block-" + Convert.ToString(dr["block"]).Replace(" ", "_").ToLower();
                            <script>
                                CreateGroup('@group');
                            </script>
                        }*@
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/JS/mgaccordion.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<script>
    $(document).ready(function () {
        $('.my-nav').mgaccordion();
        $('.my-nav2').mgaccordion({
            theme: 'tree',
            leaveOpen: true
        });
    });
</script>
<script>
    try {
        fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
            return true;
        }).catch(function (e) {
            var carbonScript = document.createElement("script");
            carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
            carbonScript.id = "_carbonads_js";
            document.getElementById("carbon-block").appendChild(carbonScript);
        });
    } catch (error) {
        console.log(error);
    }
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>