@using UmangMicro.Manager
@using System.Data
@{
    ViewBag.Title = "CaseStudy";
    DataTable dt = new DataTable();
    var linkr = ""; var linkc = ""; var linke = ""; var linkl = "";
    if (Model != null)
    {
        dt = Model;
        linkr = !string.IsNullOrWhiteSpace(dt.Rows[0]["Category"].ToString()) ? dt.Rows[0]["Category"].ToString() : "0";
        linkc = !string.IsNullOrWhiteSpace(dt.Rows[1]["Category"].ToString()) ? dt.Rows[1]["Category"].ToString() : "0";
        linke = !string.IsNullOrWhiteSpace(dt.Rows[2]["Category"].ToString()) ? dt.Rows[2]["Category"].ToString() : "0";
        linkl = !string.IsNullOrWhiteSpace(dt.Rows[3]["Category"].ToString()) ? dt.Rows[3]["Category"].ToString() : "0";

    }
}
<link type="text/css" href="~/content/flipbook/style.css" rel="stylesheet">
<link type="text/css" href="~/content/flipbook/static.css" rel="stylesheet">
<link type="text/css" href="~/content/flipbook/reset.css" rel="stylesheet">
<link type="text/css" href="~/content/flipbook/preloader.css" rel="stylesheet">
<link type="text/css" href="~/content/flipbook/elements.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Play:400,700">
<script src="~/content/flipbook/jquery.js"></script>
<script src="~/content/flipbook/turn.js"></script>
@*<script src="~/content/flipbook/jquery.fullscreen.js"></script>*@
<script src="~/content/flipbook/jquery.address-1.6.min.js"></script>
<script src="~/content/flipbook/wait.js"></script>
<script src="~/content/flipbook/onload.js"></script>
<style>
    #ddmenu .current5 {
        color: #00AEC4;
    }
</style>
<style>
    html, body {
        margin: 0;
        padding: 0;
        overflow: auto !important;
    }

    #fb5 {
        height: 690px !important;
        margin-top: 50px
    }

    #fb5-ajax h4 {
        text-align: center;
        font-size: 25px;
        background: #092741;
        color: #fff;
        padding-top: 25px
    }

    .page-txt-banner {
        margin-top: -30px;
        position: relative;
        padding-top: 30px
    }

        .page-txt-banner h2 {
            padding-top: 20px;
            font-size: 26px;
        }
</style>
<!-- DIV YOUR WEBSITE -->
<div style="width:100%;margin:0 auto">


    <!-- BEGIN FLIPBOOK STRUCTURE -->
    <div id="fb5-ajax">

        <!-- BEGIN HTML BOOK -->
        <div data-current="book5" class="fb5" id="fb5">

            <h4>Stories of Empowerment</h4>
            <!-- BACKGROUND FOR BOOK -->
            <div class="fb5-bcg-book"></div>

            <!-- BEGIN CONTAINER BOOK -->
            <div id="fb5-container-book">

                <!-- BEGIN deep linking -->
                <section id="fb5-deeplinking">
                    <ul>
                        <li data-address="1" data-page="1"></li>
                        <li data-address="2-3" data-page="2"></li>
                        <li data-address="2-3" data-page="3"></li>
                        <li data-address="4-5" data-page="4"></li>
                        <li data-address="4-5" data-page="5"></li>
                        <li data-address="6-7" data-page="6"></li>
                        <li data-address="6-7" data-page="7"></li>
                        <li data-address="8-9" data-page="8"></li>
                        <li data-address="8-9" data-page="9"></li>
                        <li data-address="10-11" data-page="10"></li>
                        <li data-address="10-11" data-page="11"></li>
                        <li data-address="12-13" data-page="12"></li>
                        <li data-address="12-13" data-page="13"></li>
                        <li data-address="13-14" data-page="14"></li>
                        <li data-address="14-15" data-page="15"></li>
                        <li data-address="15-16" data-page="16"></li>
                        <li data-address="16-17" data-page="17"></li>
                        <li data-address="17-18" data-page="18"></li>
                        <li data-address="18-19" data-page="19"></li>
                        <li data-address="19-20" data-page="20"></li>
                        <li data-address="20-21" data-page="21"></li>
                        <li data-address="21-22" data-page="22"></li>
                        <li data-address="22-23" data-page="23"></li>
                        <li data-address="23-24" data-page="24"></li>
                        <li data-address="24-25" data-page="25"></li>
                        <li data-address="25-26" data-page="26"></li>
                        <li data-address="26-27" data-page="27"></li>
                        <li data-address="27-28" data-page="28"></li>
                        <li data-address="28-29" data-page="29"></li>
                        <li data-address="29-30" data-page="30"></li>
                        <li data-address="30-31" data-page="31"></li>
                        <li data-address="31-32" data-page="32"></li>
                        <li data-address="32-33" data-page="33"></li>
                        <li data-address="33-34" data-page="34"></li>
                        <li data-address="34-35" data-page="35"></li>
                        <li data-address="35-36" data-page="36"></li>
                        <li data-address="36-37" data-page="37"></li>
                        <li data-address="37-38" data-page="38"></li>
                        <li data-address="38-39" data-page="39"></li>
                        <li data-address="39-40" data-page="40"></li>
                        <li data-address="40-41" data-page="41"></li>
                        <li data-address="41-42" data-page="42"></li>
                        <li data-address="42-43" data-page="43"></li>
                        <li data-address="43-44" data-page="44"></li>
                        <li data-address="44-45" data-page="45"></li>
                        <li data-address="45-46" data-page="46"></li>
                        <li data-address="46-47" data-page="47"></li>
                        <li data-address="48" data-page="48"></li>
                    </ul>
                </section>
                <!-- END deep linking -->
                <!-- BEGIN BOOK -->
                <div id="fb5-book">

                    <!-- BEGIN PAGE 1-->
                    <div data-background-image="Content/flipbook/magazine/1.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 1 -->
                    <!-- BEGIN PAGE 2-->
                    <div data-background-image="Content/flipbook/magazine/2.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 2 -->
                    <!-- BEGIN PAGE 3 -->
                    <div data-background-image="Content/flipbook/magazine/3.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 3 -->
                    <!-- BEGIN PAGE 4 -->
                    <div data-background-image="Content/flipbook/magazine/4.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 4 -->
                    <!-- BEGIN PAGE 5 -->
                    <div data-background-image="Content/flipbook/magazine/5.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 5 -->
                    <!-- BEGIN PAGE 6 -->
                    <div data-background-image="Content/flipbook/magazine/6.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 6 -->
                    <!-- BEGIN PAGE 7 -->
                    <div data-background-image="Content/flipbook/magazine/7.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 7-->
                    <!-- BEGIN PAGE 8 -->
                    <div data-background-image="Content/flipbook/magazine/8.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 8 -->
                    <!-- BEGIN PAGE 9 -->
                    <div data-background-image="Content/flipbook/magazine/9.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 9 -->
                    <!-- BEGIN PAGE 10 -->
                    <div data-background-image="Content/flipbook/magazine/10.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 10 -->
                    <!-- BEGIN PAGE 11 -->
                    <div data-background-image="Content/flipbook/magazine/11.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 11 -->
                    <!-- BEGIN PAGE 12 -->
                    <div data-background-image="Content/flipbook/magazine/12.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 12 -->
                    <!-- BEGIN PAGE 13 -->
                    <div data-background-image="Content/flipbook/magazine/13.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 13 -->
                    <!-- BEGIN PAGE 14 -->
                    <div data-background-image="Content/flipbook/magazine/14.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 14 -->

                    <div data-background-image="Content/flipbook/magazine/15.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/16.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/17.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/18.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/19.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/20.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/21.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/22.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/23.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/24.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/25.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/26.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/27.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/28.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/29.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/30.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/31.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/32.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/33.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/34.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/35.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/36.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/37.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/38.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/39.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/40.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/41.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/42.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/43.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/44.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/45.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/46.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/47.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>

                    <div data-background-image="Content/flipbook/magazine/48.png" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                        </div>
                    </div>


                </div>
                <!-- END BOOK -->
                <!-- arrows -->
                <a class="fb5-nav-arrow prev"></a>
                <a class="fb5-nav-arrow next"></a>


            </div>
            <!-- END CONTAINER BOOK -->
            <!-- BEGIN FOOTER -->
            <div id="fb5-footer">

                <div class="fb5-bcg-tools"></div>

                <div class="fb5-menu" id="fb5-center">
                    <ul>
                        <li>
                            <a title="Download File" href="~/Content/flipbook/magazine/Shifting_Norms_Case_Studies_Booklet.pdf" target="_blank"><i class="fa fa-download"></i></a>
                        </li>

                        <li>
                            <a title="Zoom Out" class="fb5-zoom-out" href="javascript:void(0)"><i class="fa fa-search-minus"></i></a>
                        </li>

                        <li>
                            <a title="Zoom In" class="fb5-zoom-in" href="javascript:void(0)"><i class="fa fa-search-plus"></i></a>
                        </li>

                        <li>
                            <a title="Zoom Original" class="fb5-zoom-original" href="javascript:void(0)"><i class="fa fa-sliders"></i></a>
                        </li>

                        <li>
                            <a title="Fullscreen" class="expand_photo" href="javascript:void(0)"><i class="fa fa-expand"></i></a>
                        </li>

                        <li>
                            <a title="Share This" class="modal-open" href="javascript:void(0)"><i class="fa fa-share"></i></a>
                        </li>

                        <li>
                            <a title="Flip Images" class="fb5-show-all" href="javascript:void(0)"><i class="fa fa-list"></i></a>
                        </li>

                        <li>
                            <a title="Start the Flip" class="fb5-home" href="javascript:void(0)"><i class="fa fa-home"></i></a>
                        </li>

                    </ul>
                </div>


            </div>
            <!-- END FOOTER -->
            <!-- <h5>Stories of Empowerment</h5> -->
            <!-- BEGIN ALL PAGES -->
            <div id="fb5-all-pages" class="fb5-overlay">

                <section class="fb5-container-pages">

                    <div id="fb5-menu-holder">

                        <ul id="fb5-slider">

                            <li class="1">
                                <img alt="" data-src="Content/flipbook/magazine/1.png">
                            </li>

                            <li class="2">
                                <img alt="" data-src="content/flipbook/magazine/2.png">
                            </li>

                            <li class="3">
                                <img alt="" data-src="content/flipbook/magazine/3.png">
                            </li>

                            <li class="4">
                                <img alt="" data-src="content/flipbook/magazine/4.png">
                            </li>

                            <li class="5">
                                <img alt="" data-src="content/flipbook/magazine/5.png">
                            </li>

                            <li class="6">
                                <img alt="" data-src="content/flipbook/magazine/6.png">
                            </li>

                            <li class="7">
                                <img alt="" data-src="content/flipbook/magazine/7.png">
                            </li>

                            <li class="8">
                                <img alt="" data-src="content/flipbook/magazine/8.png">
                            </li>

                            <li class="9">
                                <img alt="" data-src="content/flipbook/magazine/9.png">
                            </li>

                            <li class="10">
                                <img alt="" data-src="content/flipbook/magazine/10.png">
                            </li>

                            <li class="11">
                                <img alt="" data-src="content/flipbook/magazine/11.png">
                            </li>

                            <li class="12">
                                <img alt="" data-src="content/flipbook/magazine/12.png">
                            </li>

                            <li class="13">
                                <img alt="" data-src="content/flipbook/magazine/13.png">
                            </li>

                            <li class="14">
                                <img alt="" data-src="content/flipbook/magazine/14.png">
                            </li>

                            <li class="15">
                                <img alt="" data-src="content/flipbook/magazine/15.png">
                            </li>

                            <li class="16">
                                <img alt="" data-src="content/flipbook/magazine/16.png">
                            </li>

                            <li class="17">
                                <img alt="" data-src="content/flipbook/magazine/17.png">
                            </li>

                            <li class="18">
                                <img alt="" data-src="content/flipbook/magazine/18.png">
                            </li>

                            <li class="19">
                                <img alt="" data-src="content/flipbook/magazine/19.png">
                            </li>

                            <li class="20">
                                <img alt="" data-src="content/flipbook/magazine/20.png">
                            </li>

                            <li class="21">
                                <img alt="" data-src="content/flipbook/magazine/21.png">
                            </li>

                            <li class="22">
                                <img alt="" data-src="content/flipbook/magazine/22.png">
                            </li>

                            <li class="23">
                                <img alt="" data-src="content/flipbook/magazine/23.png">
                            </li>

                            <li class="24">
                                <img alt="" data-src="content/flipbook/magazine/24.png">
                            </li>

                            <li class="25">
                                <img alt="" data-src="content/flipbook/magazine/25.png">
                            </li>

                            <li class="26">
                                <img alt="" data-src="content/flipbook/magazine/26.png">
                            </li>

                            <li class="27">
                                <img alt="" data-src="content/flipbook/magazine/27.png">
                            </li>

                            <li class="28">
                                <img alt="" data-src="content/flipbook/magazine/28.png">
                            </li>

                            <li class="29">
                                <img alt="" data-src="content/flipbook/magazine/29.png">
                            </li>

                            <li class="30">
                                <img alt="" data-src="content/flipbook/magazine/30.png">
                            </li>

                            <li class="31">
                                <img alt="" data-src="content/flipbook/magazine/31.png">
                            </li>

                            <li class="32">
                                <img alt="" data-src="content/flipbook/magazine/32.png">
                            </li>

                            <li class="33">
                                <img alt="" data-src="content/flipbook/magazine/33.png">
                            </li>

                            <li class="34">
                                <img alt="" data-src="content/flipbook/magazine/34.png">
                            </li>

                            <li class="35">
                                <img alt="" data-src="content/flipbook/magazine/35.png">
                            </li>

                            <li class="36">
                                <img alt="" data-src="content/flipbook/magazine/36.png">
                            </li>

                            <li class="37">
                                <img alt="" data-src="content/flipbook/magazine/37.png">
                            </li>

                            <li class="38">
                                <img alt="" data-src="content/flipbook/magazine/38.png">
                            </li>

                            <li class="39">
                                <img alt="" data-src="content/flipbook/magazine/39.png">
                            </li>

                            <li class="40">
                                <img alt="" data-src="content/flipbook/magazine/40.png">
                            </li>

                            <li class="41">
                                <img alt="" data-src="content/flipbook/magazine/41.png">
                            </li>

                            <li class="42">
                                <img alt="" data-src="content/flipbook/magazine/42.png">
                            </li>

                            <li class="43">
                                <img alt="" data-src="content/flipbook/magazine/43.png">
                            </li>

                            <li class="44">
                                <img alt="" data-src="content/flipbook/magazine/44.png">
                            </li>

                            <li class="45">
                                <img alt="" data-src="content/flipbook/magazine/45.png">
                            </li>

                            <li class="46">
                                <img alt="" data-src="content/flipbook/magazine/46.png">
                            </li>

                            <li class="47">
                                <img alt="" data-src="content/flipbook/magazine/47.png">
                            </li>

                            <li class="48">
                                <img alt="" data-src="content/flipbook/magazine/48.png">
                            </li>

                        </ul>

                    </div>

                </section>

            </div>
            <!-- END ALL PAGES -->

        </div>
        <!-- END HTML BOOK -->
        <!-- CONFIGURATION FLIPBOOK -->
        <script>
            jQuery('#fb5').data('config',
                {
                    "page_width": "330",
                    "page_height": "480",
                    "zoom_double_click": "1",
                    "zoom_step": "0.5",
                    "double_click_enabled": "true",
                    "tooltip_visible": "true",
                    "toolbar_visible": "true",
                    "gotopage_width": "30",
                    "deeplinking_enabled": "true",
                    "rtl": "true",
                    'full_area': 'true',
                    'lazy_loading_thumbs': 'true',
                    'lazy_loading_pages': 'true'
                })
        </script>

    </div>
    <!-- END FLIPBOOK STRUCTURE -->

</div>
<!-- END DIV YOUR WEBSITE -->
<div class="page-txt-banner">
    @*<a class="fbtn share share" title="Share" onclick="copyToClipboard()" href="javascript:void(0)">Copy to clipboard</a>*@
    <h2>More Stories</h2>
</div>

<section class="case-section">
    <div class="case-study-list">
        <div class="case-study-box cs-bgr1">
            @*<div class="cs-number"><span>@(!string.IsNullOrWhiteSpace(dt.Rows[0]["NoofCaseStudy"].ToString())? dt.Rows[0]["NoofCaseStudy"].ToString() :"0")</span> Case Studies</div>*@
            <div class="innovate-title">
                <h4>Rising Star</h4>
            </div>
            <div class="hide-case-studies">
                <h3>Rising Star</h3>
                <p>
                    Daughters of Godda and Jamtara who hold promise for the future
                </p>
                <a href="~/Home/CaseStudyList?CategId=@linkr" class="cs-btn">View All</a>
            </div>
        </div>
        <div class="case-study-box cs-bgr4">
            @*<div class="cs-number"><span>@(!string.IsNullOrWhiteSpace(dt.Rows[1]["NoofCaseStudy"].ToString()) ? dt.Rows[1]["NoofCaseStudy"].ToString() : "0")</span> Case Studies</div>*@
            <div class="innovate-title">
                <h4>Empowered</h4>
            </div>
            <div class="hide-case-studies">
                <h3>Empowered</h3>
                <p>
                    Mothers who have gained agency to stand by their daughters, protect them from child marriage and nurture their aspirations
                </p>
                <a href="~/Home/CaseStudyList?CategId=@linke" class="cs-btn">View All</a>
            </div>
        </div>
        <div class="case-study-box cs-bgr2">
            @*<div class="cs-number"><span>@(!string.IsNullOrWhiteSpace(dt.Rows[2]["NoofCaseStudy"].ToString()) ? dt.Rows[2]["NoofCaseStudy"].ToString() : "0")</span> Case Studies</div>*@
            <div class="innovate-title">
                <h4>Changemakers</h4>
            </div>
            <div class="hide-case-studies">
                <h3>Changemakers</h3>
                <p>
                    Transformative journey of cadre who have evolved as 'facilitators of change' - mobilising & sensiting community members towards gender issues
                </p>
                <a href="~/Home/CaseStudyList?CategId=@linkc" class="cs-btn">View All</a>
            </div>
        </div>
        <div class="case-study-box cs-bgr3">
            @*<div class="cs-number"><span>@(!string.IsNullOrWhiteSpace(dt.Rows[3]["NoofCaseStudy"].ToString()) ? dt.Rows[3]["NoofCaseStudy"].ToString() : "0")</span> Case Studies</div>*@
            <div class="innovate-title">
                <h4>Leadership</h4>
            </div>
            <div class="hide-case-studies">
                <h3>Leadership</h3>
                <p>
                    Evolution of collective leadership among VOs and CLFs to engage at system level for addressing child marriage and girls' education
                </p>
                <a href="~/Home/CaseStudyList?CategId=@linkl" class="cs-btn">View All</a>
            </div>
        </div>
        @*@{
                if (Model != null)
                {
                    dt = Model;
                    foreach (DataRow dr in dt.Rows)
                    {
                        <div class="case-study-box">
                            <a href="javascript:void(0)" onclick="return GetCaseList('@dr["Category"]')">
                                <img src="@(CommonModel.GetBaseUrl()+dr["PPath"])" alt="Alternate Text" />
                                <strong> @dr["CategoryText"]</strong>
                            </a>
                        </div>
                    }
                }
            }*@
    </div>
    @*<div id="div-list">
            <table id="tblid" cellpadding="1" cellspacing="1">
            </table>
        </div>*@
</section>


<!-- Modal 1 -->
<div class="modal-overlay hidden"></div>
<div class="modal-box hidden">
    <i class="fa fa-times modal-close"></i>
    <h4>Share Flipbook</h4>
    <p>&nbsp;</p>
    <div class="sharethis-inline-share-buttons"></div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    'use strict';
    const modalOpen = document.querySelector('.modal-open');
    const modalOverlay = document.querySelector('.modal-overlay');
    const modalBox = document.querySelector('.modal-box');
    const modalClose = document.querySelector('.modal-close');
    // Modal 1
    modalOpen.addEventListener('click', function () {
        modalOverlay.classList.remove('hidden');
        modalBox.classList.remove('hidden');
    });
    modalClose.addEventListener('click', function () {
        modalOverlay.classList.add('hidden');
        modalBox.classList.add('hidden');
    })
    modalOverlay.addEventListener('click', function () {
        modalOverlay.classList.add('hidden');
        modalBox.classList.add('hidden');
    })
</script>
<script>
    //function copyToClipboard(text) {
    //    var inputc = document.body.appendChild(document.createElement("input"));
    //    inputc.value = window.location.href;
    //    inputc.select();
    //    document.execCommand('copy');
    //    inputc.parentNode.removeChild(inputc);
    //    console.log("Page URL Copied to Clipboard");
    //}

    function toggleFullscreen(elem) {
        elem = elem || document.documentElement;
        if (!document.fullscreenElement && !document.mozFullScreenElement &&
            !document.webkitFullscreenElement && !document.msFullscreenElement) {

            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
    }

    document.querySelector('.expand_photo').addEventListener('click', function () {
        toggleFullscreen(document.getElementById('fb5'));
    });
</script>
<!-- ShareThis BEGIN -->
@*<div class="sharethis-inline-share-buttons"></div>*@
<!-- ShareThis END -->
<script type="text/javascript">
    var reslist = [];
    $(document).ready(function () {

    });
    @*function GetCaseList(CategId) {
       // $('#tblid').html("");
        if (CategId) {
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Home/GetCaseList",
                data: { CategId: CategId },
                dataType: "json",
                success: function (resp) {
                    if (resp.StatusType == "success") {
                        var rlist = JSON.parse(resp.Data);
                        var strhtml = $("#tblid");
                        $('#tblid').append("<tr><th colspan='2' class='text-center' style='color: #337ab7;'>" + rlist[0].CategoryText +"</th></tr><tr style='border-bottom: 1px solid #000;'><th>Date</th><th>Subject</th></tr>");
                        for (var i = 0; i < rlist.length; i++) {
                            var stroncl =  "?Id="+ rlist[i].ID;
                            var url = '@Url.Action("CaseDetail", "Home")';
                              //onclick=\"return GetCaseview(" + rlist[i].ID + ",'" + rlist[i].CategoryText +"');\"
                            $('#tblid').append("<tr style='border-bottom: 1px solid #000;'><td> " +
                                "<a href='" + document.baseURI + url + stroncl + "' target='_blank' style='text-decoration: none;'> <strong>" + rlist[i].MY +" </strong></a>"+
                                "</td><td>"+
                                "<a href='" + document.baseURI + url + stroncl + "' target='_blank' style='text-decoration: none;'>"+ rlist[i].Subject + "</a>" +
                                "</td></tr>");
                        }
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //$('#msg').css('display', 'block'); $('#msg').focus();
                    //$('#msg').html(errormsg);
                   // $('#msg').css('color', '#FF0000');
                   // $('#Name').focus();
                    return false;
                }
            });
        }

    }
    function GetCaseview(Id) {
        debugger;
        var AN = "Hello";
        //$.post(document.baseURI + "/Master/CaseDetail", function (Id, AN) {
        //   // alert("Data: " + data + "\nStatus: " + status);
        //});
        var url = '@Url.Action("CaseDetail", "Home")';
        window.location.href = url + '?Id=' + Id + '&AN=' + AN;
        window.EventTarget = "_blank";
        //window.open(url + '?Id=' + Id + '&AN=' + AN, '_blank');
    }*@
</script>