@using UmangMicro.Manager
@using System.Data
@{
    ViewBag.Title = "CaseStudy";
    DataTable dt = new DataTable();
}


<section class="section" style="padding-top:5%;">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                @{
                    if (Model != null)
                    {
                        dt = Model;
                        //var grouped = from DataRow dr in dt.Rows orderby dr["Category"] group dr by dr["CategoryText"];
                        foreach (DataRow dr in dt.Rows)
                        {

                            <div class="col-md-6">
                                <a href="javascript:void(0)" onclick="return GetCaseList('@dr["Category"]')" style="padding:2%">
                                    <img src="@(CommonModel.GetBaseUrl()+dr["PPath"])" alt="Alternate Text" style="width:200px; height:100px;" />
                                    <br />
                                    <strong style="color: #337ab7;"> @dr["CategoryText"]</strong>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
            </div>
            <div class="col-md-6" id="div-list">
                <table id="tblid" cellpadding="1" cellspacing="1">
                </table>
            </div>
        </div>
</section>


@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    var reslist = [];
    $(document).ready(function () {

    });
    function GetCaseList(CategId) {
        $('#tblid').html("");
        if (CategId) {
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Home/GetCaseList",
                data: { CategId: CategId },
                dataType: "json",
                success: function (resp) {
                    if (resp.StatusType == "success") {
                        var rlist = JSON.parse(resp.Data);
                        var strhtml = $("#tblid");
                        $('#tblid').append("<tr><th colspan='2' class='text-center' style='color: #337ab7;'>" + rlist[0].CategoryText +"</th></tr><tr style='border-bottom: 1px solid #000;'><th>Date</th><th>Subject</th></tr>");
                        for (var i = 0; i < rlist.length; i++) {
                            var stroncl =  "?Id="+ rlist[i].ID;
                            var url = '@Url.Action("CaseDetail", "Home")';
                              //onclick=\"return GetCaseview(" + rlist[i].ID + ",'" + rlist[i].CategoryText +"');\"
                            $('#tblid').append("<tr style='border-bottom: 1px solid #000;'><td> " +
                                "<a href='" + document.baseURI + url + stroncl + "' target='_blank' style='text-decoration: none;'> <strong>" + rlist[i].MY +" </strong></a>"+
                                "</td><td>"+
                                "<a href='" + document.baseURI + url + stroncl + "' target='_blank' style='text-decoration: none;'>"+ rlist[i].Subject + "</a>" +
                                "</td></tr>");
                        }
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //$('#msg').css('display', 'block'); $('#msg').focus();
                    //$('#msg').html(errormsg);
                   // $('#msg').css('color', '#FF0000');
                   // $('#Name').focus();
                    return false;
                }
            });
        }

    }
    function GetCaseview(Id) {
        debugger;
        var AN = "Hello";
        //$.post(document.baseURI + "/Master/CaseDetail", function (Id, AN) {
        //   // alert("Data: " + data + "\nStatus: " + status);
        //});
        var url = '@Url.Action("CaseDetail", "Home")';
        window.location.href = url + '?Id=' + Id + '&AN=' + AN;
        window.EventTarget = "_blank";
        //window.open(url + '?Id=' + Id + '&AN=' + AN, '_blank');
    }
</script>