@model IEnumerable<UmangMicro.Models.Tbl_FileResource>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Resources";
    var doctype = ViewBag.doctype;
    int i = 1;
}

<style>
    .search-record {
        display: flex;
        gap: 20px;
        align-items: end;
        background: #FFE7FB;
        padding: 20px;
        border-top: 4px solid #5B2C54;
    }

    .form-group-control {
        flex-basis: 28%;
    }

    .search_button {
        width: 120px;
        height: 37px;
        border: none;
        background: #F58F6F;
        color: #fff;
        border-radius: 4px;
    }

        .search_button:hover {
            background: #F3987A
        }

    .archieve-table {
        margin-top: 30px;
    }

        .archieve-table thead {
            background: #5B2C54;
            padding: 13px 5px !important;
            color: #fff;
        }

    .table-btn {
        padding: 5px 12px;
        background: #F58F6F;
        color: #fff;
        border-radius: 4px;
    }

        .table-btn:hover {
            color: #fff;
            background: #F3987A
        }

    @@media all and (max-width: 1250px) {
        .archieve-table {
            padding-left: 20px;
            padding-right: 20px;
        }

        .search-record {
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
    }

    @@media all and (max-width: 768px) {
        .page-txt-banner {
            padding: 110px 20px 50px;
        }
    }

    @@media all and (max-width: 768px) {
        .search_button {
            padding: 5px 10px !important;
            margin-left: 0px !important;
            margin-top: 8px !important
        }

        .search-record {
            flex-direction: column;
            gap: 8px !important;
        }

        .form-group-control {
            width: 100% !important;
        }
    }
</style>
<div class="page-txt-banner">
    <h2>Resource Files</h2>
</div>
<div class="kishori-help-desk-box">
    <div class="content-manage">
        @using (Html.BeginForm("ResourcesFile", "Home", FormMethod.Post, new { @id = "tblList-frm" }))
        {
            <input type="hidden" value="@doctype" name="doctype1" />
            <div class="search-record">
                <div class="form-group-control">
                    <label>Subject</label>
                    <input type="text" name="Subject" class="form-control" />
                </div>
                <div class="form-group-control">
                    <label>Date of Issue</label>
                    <input type="date" name="IssueDate" class="form-control" />
                </div>
                <div class="form-group-control">
                    <label>Document Type.</label>
                    @Html.DropDownList("doctype", UmangMicro.Manager.CommonModel.GetDocumentType(false), "Select One", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                </div>
                <button class="search_button"> <i class="fa fa-search"></i> Search</button>
            </div>
        }
        <div class="archieve-table">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <thead class="text-center">
                        <tr>
                            <th class="text-center">SI No.</th>
                            <th class="text-center">Date of Issue</th>
                            <th class="text-center">Document Type.</th>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() > 0)
                            {
                                foreach (var obj in Model)
                                {
                                    <tr>
                                        <td class="text-center">@(i++)</td>
                                        <td data-title="Date of Issue" class="text-center">@Convert.ToDateTime(obj.DateofIssue).ToString("dd/MMM/yyyy")</td>
                                        <td data-title="Document Type" class="text-center">@(UmangMicro.Manager.CommonModel.GetDocumentType(false).Where(x=>x.Value==obj.DocumentType)?.FirstOrDefault().Text)</td>
                                        <td data-title="Subject" class="text-left">@obj.Subject</td>
                                        <td data-title="download" class="text-center"><a href="..@obj.AttachmentFile" target="_blank" onclick="setSelectedTestPlan(@obj.FileId_pk);" class="table-btn"><i class="fa fa-download"></i></a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="5" class="text-danger"><strong> Record Not Found !!</strong></td></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

<script id="rendered-js">
    (function ($) {
        $(function () {
            $('#navbar-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            $('#navbar-toggle').on('click', function () {
                this.classList.toggle('active');
            });
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.navbar-dropdown').slideToggle("slow");
                $('.navbar-dropdown').not($(this).siblings()).hide("slow");
                e.stopPropagation();
            });
            $('html').click(function () {
                $('.navbar-dropdown').hide();
            });
        });
    })(jQuery);
</script>
