@using System.Data
@using UmangMicro.Manager

@{
    ViewBag.Title = "Training";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model as DataTable;
    }
}
<strong>Training</strong>
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dt-responsive display" id="DataList" width="100%">
                    <thead>
                        <tr>
                            <th>SrNo.</th>
                            <th>Training Date</th>
                            <th>District</th>
                            <th>Block</th>
                            <th>School</th>
                            @if (ViewBag.task == 1)
                            {
                                <th>Round</th>
                                <th>Name of Teacher</th>
                                <th>Cohort</th>

                            }
                            else if (ViewBag.task == 2)
                            {
                                <th>No of Teachers Trained</th>
                            }

                            <th>Session</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1;
                            if (dt.Rows.Count > 0)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                                                <tr>
                                                    <td class="text-center">@(sno++)</td>
                                                    <td class="text-center">@(CommonModel.FormateDtDMY(dr["Date"].ToString()))</td>
                                                    <td class="text-left">@dr["district_name"]</td>
                                                    <td class="text-left">@dr["block_name"]</td>
                                                    <td class="text-left">@dr["school_name"]</td>
                                                    @if (ViewBag.task == 1)
                                                    {
                                                        <td class="text-left">@dr["Round"]</td>
                                                        <td class="text-left">@dr["TeacherName"]</td>
                                                        <td class="text-left">@dr["RoundCohortText"]</td>
                                                    }
                                                    else if (ViewBag.task == 2)
                                                    {
                                                        <td class="text-center">@dr["Noofteachertrained"]</td>
                                                    }
                                                    
                                                    <td class="text-left">@dr["SessionText"]</td>
                                                    <td class="text-left" style="word-wrap:break-word;">@dr["Comment"]</td>
                                                </tr>
                                }
                            }
                            else
                            {
                                @*<tr>
                                    <td colspan="9" class="text-danger"><strong>Record Not Found!!</strong></td>
                                </tr>*@
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
