@using System.Data
@{
    ViewBag.Title = "User List";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}

<div class="row row-deck">
    <div class="col-lg-12 col-md-12">

        <div class="table-responsive">
            @*table card-table table-vcenter text-nowrap*@
            <table class="table card-table table-vcenter text-nowrap" id="DataList">
                <thead>
                    <tr>
                        <th>SrNo.</th>
                        <th>Name</th>
                        @*<th>Email</th>*@
                        <th>Role</th>
                        @*<th>District</th>
                            <th>Block</th>*@
                        <th>Phone No</th>
                        <th>District</th>
                        <th>Block</th>
                        <th>School</th>
                        @*<th>Help Desk <br />Name</th>*@
                        <th>Date of Register</th>
                        <th>Modify</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sno = 1;
                        if (Model != null)
                        {
                            foreach (DataRow dr in dt.Rows)
                            {
                                <tr>
                                    <td class="text-center">@(sno++)</td>
                                    <td class="text-left">@dr["Name"]</td>
                                    @*<td class="text-left">@dr["UserName"]</td>*@
                                    <td class="text-center">@dr["Role"]</td>
                                    @*<td class="text-left">@dr["DistName"]</td>
                                        <td class="text-left">@dr["BlockName"]</td>*@
                                    <td class="text-center">@dr["PhoneNumber"]</td>
                                    <td class="text-center">@dr["DistName"]</td>
                                    <td class="text-center">@dr["BlockName"]</td>
                                    <td class="text-center">@dr["school_name"]</td>
                                    @*<td class="text-left">@dr["HelpDeskName"]</td>*@
                                    <td class="text-center">@dr["RegisterDt"]</td>
                                    <td title="Edit">
                                        <a href="~/account/EditUser?id=@dr["Id"]" style='font-size: medium;'>Edit <i class="fa fa-edit"></i></a>
                                    </td>
                                    @if (dr["LockoutEnabled"].ToString() == "False")
                                    {
                                        <td title="Disable">
                                            <a href="~/account/Register_Enable?id=@dr["Id"]" class='fa fa-slack' style='color: Red; font-size: medium;'></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td title="Enabled">
                                            <a href="~/account/Register_Lock?id=@dr["Id"]" class='fa fa-check' style='color: forestgreen; font-size:medium;'></a>
                                        </td>
                                    }

                                    @*<td class="text-center"><a href="return javascript:void(0);" data-target="#largeModal" data-toggle="modal" onclick="BindEdit('@item.ID', '@item.Name', '@item.Description', '@item.DisplayOrder', this)" title="Edit"><i class="fa fa-edit"></i></a></td>*@
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="5" class="text-danger"><strong> Record Not Found !!</strong></td></tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>