@using System.Data
@using UmangMicro.Manager
@{
    ViewBag.Title = "Modular Summary List";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}
<strong>Modular Session Summary</strong>
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dt-responsive display" id="DataList" width="100%">
                    <thead>
                        <tr>
                            <th>SrNo.</th>
                            <th>Last Conducted Date</th>
                            <th>District</th>
                            <th>School</th>
                            <th>Class</th>
                            <th>No of Sessions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1; int indx = 0;
                            if (Model != null)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                                    <tr>
                                        <td class="text-center">@(sno++)</td>
                                        <td class="text-center">@(CommonModel.FormateDtDMY(dr["MaxConductedDate"].ToString()))</td>
                                        <td class="text-left">@dr["district_name"]</td>
                                        <td class="text-left">@dr["school_name"]</td>
                                        <td class="text-center">@dr["ClassId"]</td>
                                        <td class="text-center">
                                            <a href="~/Modular/Index?DId=@dr["DistrictId"]&&SId=@dr["SchoolId"]" target="_blank"><strong class="text-success">@dr["NoofData"]</strong></a>
                                        </td>
                                    </tr>
                                    indx++;
                                }
                            }
                            else
                            {
                                <tr><td colspan="6" class="text-danger"><strong> Record Not Found !!</strong></td></tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
