@using System.Data
@using UmangMicro.Manager
@{
    ViewBag.Title = "Modular Session List";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}
<strong>Modular Session</strong>
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dt-responsive display" id="DataList" width="100%">
                    <thead>
                        <tr>
                            <th>SrNo.</th>
                            <th>Conducted Date</th>
                            <th>District</th>
                            <th>Block</th>
                            <th>School</th>
                            @*<th>Cohort</th>*@
                        <th>Class</th>
                            <th>Cohort Session</th>
                            <th>No of Student</th>
                            <th>Achieve Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1; int indx = 0;
                            if (Model != null)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                        <tr>
                            <td class="text-center">@(sno++)</td>
                            <td class="text-center">@(CommonModel.FormateDtDMY(dr["ConductedDate"].ToString()))</td>
                            <td class="text-left">@dr["district_name"]</td>
                            <td class="text-left">@dr["block_name"]</td>
                            <td class="text-left">@dr["school_name"]</td>
                            @*<td class="text-center">@dr["TypeOfCohort"]</td>*@
                            <td class="text-center">@dr["CalssId"]</td>
                            <td class="text-left">@dr["COHORT_Session_Hindi"]</td>
                            <td class="text-center">@dr["NoofStudent"]</td>
                            <td class="text-center">
                                @{
                                    string AchieveImage = dr["AchieveImage"].ToString();
                                    if (!string.IsNullOrEmpty(AchieveImage))
                                    {
                                        var splitem = AchieveImage.Split('~');
                                        if (splitem.Length > 1)
                                        {
                                            var fileUrl = CommonModel.GetBaseUrl() + splitem[1];
                                            <a href="@fileUrl" download><i class="fa fa-file-download"></i> Download</a>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Invalid Image</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="text-danger">No Image</span>
                                    }
                                }
                            </td>
                        </tr>
                                    indx++;
                                }
                            }
                            else
                            {
                                <tr><td colspan="8" class="text-danger"><strong> Record Not Found !!</strong></td></tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
