@model  UmangMicro.Models.FilterCanReg
@using UmangMicro.Models
@*@model IEnumerable<KGBV_JH.Models.QesRes>*@
@{
    ViewBag.Title = "Registration List";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "Registration List";
    ViewBag.SemiTitleLink = "/";

}
<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <p class="bord-btm pad-ver text-main text-bold">
                            <i class="fa fa-list spacerright2"></i>@ViewBag.Title
                        </p>
                    </div>
                    @using (Html.BeginForm("GetIndex", "Candidate", FormMethod.Post, new { @id = "tblList-frm", @class = "panel-body form-horizontal form-padding loader" }))
                    {
                        <div class="manage-bg">
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">From Date</label>
                                <div id="demo-dp-range">
                                    @Html.EditorFor(model => model.FD, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">To Date</label>
                                <div id="demo-dp-range">
                                    @Html.EditorFor(model => model.TD, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="margin-tops"></label>
                                <div class="clearfix"></div>
                                <input type="submit" id="btnshow" name="btnClick" value="Search" class="btn  btn-primary text-right" title="" />
                            </div>
                            <div class="mark-devide2"></div>
                            <div class="breaker"></div>
                        </div>
                    }
                    <div class="col-md-12">@Html.Partial("_Alerts")</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12" id="sub-data">

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12" id="sub-data-view">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            $('#formid').submit(function (e) {
                e.preventDefault();
                LoadReport();
            })

        });

        function LoadReport() {
            $('#sub-data').html("");
            jQuery.event.trigger("ajaxStart");
            $('#sub-data').removeClass("text-danger");
            var id = '#tblList-frm'
            var url = $(id).attr("action");
            var FD = $("#FD").val() == "" ? "" : $("#FD").val();
            var TD = $("#TD").val() == "" ? "" : $("#TD").val();
            $.ajax({
               // url: url,
                url: document.baseURI + "/Candidate/GetIndex",
                type: "POST",
                data: { 'FD': FD, 'TD': TD },
               // contentType: "application/json",
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-black");
                        jQuery.event.trigger("ajaxStop");
                    }
                    else {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-danger");
                       // toastr.error("Error", errormsg);
                        jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#sub-data').addClass("text-danger");
                    toastr.error("Error", errormsg);
                    jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }

     
    </script>
}
