@model UmangMicro.Models.RegModel
@using UmangMicro.Manager
@{
    ViewBag.Title = "Reg";
}

<div class="admin-breadcrumb">
    <h3>Student Registration</h3>
    <div class="crumb">
        <a href="/">Dashboard</a> / Counselling
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                @using (Html.BeginForm("Reg", "Candidate", FormMethod.Post, new { @id = "formid", @class = "", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
                {
                    @Html.Partial("_RegInput")
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            GetDistrict('DistrictId');
            if ('@CommonModel.GetUserRole()' === '@MvcApplication.CUser.Role') {
                $('#DistrictId').val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                $('#DistrictId').attr("style", "pointer-events: none;");
                OnChagDistricts('BlockId', $('#DistrictId').val());
                $('#BlockId').val(('@MvcApplication.CUser.BlockId').toLowerCase());
                $('#BlockId').attr("style", "pointer-events: none;");
                GetSchool('SchoolId', '', $('#DistrictId').val(), $('#BlockId').val());
                $('#SchoolId').val(('@MvcApplication.CUser.SchoolId').toLowerCase());
                $('#SchoolId').attr("style", "pointer-events: none;");
                }

            $('#LanguangeType').change(function () {

                var url = '@Url.Action("Reg", "Candidate")';
                window.location.href = url + '?LangType='+$(this).val();
                });

                $('#DistrictId').change(function () {
                    OnChagDistricts('BlockId', $('#DistrictId').val());
                });
                $('#BlockId').change(function () {
                   // OnChagBlocks('PanchayatId', '', $('#DistrictId').val(), $('#BlockId').val());
                    GetSchool('SchoolId', '', $('#DistrictId').val(), $('#BlockId').val());
                });
                $('#PanchayatId').change(function () {
                    //OnChagPanchayats('VillageId', '', $('#DistrictId').val(), $('#BlockId').val(), $('#PanchayatId').val());
                });
                $('#DOB').change(function () {
                    $('#Age').val(getAge($(this).val()));
                });
                $('#VillageId').change(function () {
                    $('#VillageOther').val('');
                        if ($(this).val() == "990099") {
                            $('#div-villg').show();
                            ('#VillageOther').attr('required', 'required');
                         }
                         else {
                            $('#div-villg').hide();
                            $('#VillageOther').removeAttr('required');
                         }
                });

                //$('input[name=IsFollowUp]').click(function () {
                //    $('#FollowUp').val('');
                //    if ($(this).val() == "1") {
                //        $('#div-flwup').show();
                //    }
                //    else {
                //        $('#div-flwup').hide();
                //    }
                //});
                //$('input[name=IsPsychometric]').change(function () {
                //    $('#PsyYes_Result').val('');
                //    if ($(this).val() == "1") {
                //        $('#div-psyr').show();
                //    }
                //    else {
                //        $('#div-psyr').hide();
                //    }
                //});

                if ('@Model.ID' != '0' && '@Model.ID' != '') {
                    $('#DistrictId').val('@Model.DistrictId');
                    OnChagDistricts('BlockId', '@Model.DistrictId');
                    $('#BlockId').val('@Model.BlockId');
                    OnChagBlocks('PanchayatId', '','@Model.DistrictId', '@Model.BlockId');
                    $('#PanchayatId').val('@Model.PanchayatId');
                    OnChagPanchayats('VillageId', '','@Model.DistrictId', '@Model.BlockId', '@Model.PanchayatId');
                    $('#VillageId').val('@Model.VillageId');
                    GetSchool('SchoolId', '', '@Model.DistrictId', '@Model.BlockId');
                    $('#SchoolId').val('@Model.SchoolId');
                    $("#RegDate").val(moment('@Model.RegDate').format("DD-MMM-yyyy"));
                    $("#DOB").val(moment('@Model.DOB').format("DD-MMM-yyyy"));
                    //$("#DOB").val('@Model.DOB').toISOString().split('T')[0];
                    //if ($('input[name=IsPsychometric]:checked').val()=="1") {
                    //    $('#div-psyr').show();
                    //}
                    //else {
                    //    $('#div-psyr').hide();
                    //}
                    //if ($('input[name=IsFollowUp]:checked').val() == "1") {
                    //    $('#div-flwup').show();
                    //}
                    //else {
                    //    $('#div-flwup').hide();
                    //}
            };

            //$('#submit').click(function (e) {

            //    e.preventDefault();
            //    debugger;

            //   // CUData();
            //    $('#formid').validate({
            //        rules: {
            //            RegDate: "required",
            //            Name: "required"
            //        },
            //        messages: {
            //            //RegDate: "Registration Date",
            //            // Name: "Please enter last name"

            //        },
            //        submitHandler: function (form) {
            //            form.submit();
            //            CUData();
            //        }
            //        // any other options and/or rules
            //    });
            //    return false;
            //});

            //$('#submit').click(function (e) {
            //    //var isValid = $(e.target).parents('form').isValid();
            //    if ($("#formid").validate()) { //check if form is valid using model annotation
            //        $('#formid').submit();
            //    }
            //    else {
            //        return false;
            //    }

                //     $('#formid').validate({
                //    rules: {
                //        RegDate: "required",
                //        Name: "required"
                //    },
                //    messages: {
                //        RegDate: "Registration Date",
                //         Name: "Please enter last name"

                //    },
                //    submitHandler: function (form) {
                //        form.submit();
                //        $('#formid').submit();
                //    }
                //    // any other options and/or rules
                //});
                //return false;

            //});

        });

        $("#formid").on("submit", function (event) {
            event.preventDefault();
            jQuery.event.trigger("ajaxStart");
            debugger;
            //var formDataJson = $('#formid').serialize();//formData.append('tax_file', $('input[type=file]')[0].files[0]);

            //var vl = $("#formid").validate();
            ////var formData = new FormData($('#formid')[0]);
            var isvalid = $("#formid").valid(); //$('#formid').validate();
            var formData = $(this).serialize();
            if (isvalid) {
                $.ajax({
                    type: "POST",
                    url: document.baseURI + "/Candidate/Reg/",
                    data: formData,
                    //use contentType, processData for sure.
                    //contentType: false,
                    // processData: false,
                    dataType: "json",
                    //contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        //  CreateToasterMessage("Registration", resp.Message, resp.StatusType);
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            if (resp.Data == 1) {
                                var url = '@Url.Action("Login", "Account")';
                                window.location.href = url;
                            }
                            jQuery.event.trigger("ajaxStop");
                        }
                        else {
                            toastr.error("Error", resp.Message);
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        // CreateToasterMessage("Error", errormsg, "error");
                        toastr.error("Error", errormsg);
                        jQuery.event.trigger("ajaxStop");
                        return false;
                    }

                });
            }
            else {
                //CreateToasterMessage("Error", "All Record Validate !!", "error");
                toastr.error("Error", "All Record Validate !!");
                jQuery.event.trigger("ajaxStop");
                return false;
            }

        });

         //type: 'POST',
             //contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            //processData: false, // NEEDED, DON'T OMIT THIS
           //Other options like success and etc

            // $('#global-loader').css('background', 'transparent').css('display', 'block');
            //FormData formdata=java
            //$.ajax({
            //    url: document.baseURI + 'Candidate/Reg',
            //    type: "Post",
            //    //data: {
            //    //    'StartDt': sd, 'EndDt': ed, 'LeadProcessedIds': leadIds
            //    //},
            //    //dataType: "json",
            //    //cache: false,
            //    //contentType: false,
            //    //processData: false,
            //    success: function (response) {
            //        if (response.StatusType == 'success') {
            //            CreateToasterMessage("Lead", response.Message, response.StatusType);
            //            BindData();
            //        }
            //        else {
            //            CreateToasterMessage("Error", response.Message, response.StatusType);
            //            //$('#global-loader').css('background', 'transparent').css('display', 'none');
            //        }
            //        //$('#global-loader').css('background', 'transparent').css('display', 'none');
            //    },
            //    error: function (req, error) {
            //        if (error === 'error') { error = req.statusText; }
            //        var errormsg = 'There was a communication error: ' + error;
            //        //$('#submission-data').html(errormsg);
            //        //$('#submission-data').addClass("text-danger");
            //        //$('#global-loader').css('background', 'transparent').css('display', 'none');
            //    }
            //});

    </script>

}
